@import '../base/settings';

.button{
    border:none;
    outline: none;
    padding: $s-size;
    background-color: $dark-black;
    color: $off-white;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    font-size: $font-size-medium;
    @media (max-width: $desktop-breakpoint){
        font-size: $font-size-xsmall;
        padding: $xs-size;
    }
    &:hover{
        text-decoration: none;
        cursor: pointer;
    }
}

.button-secondary{
    background-color: #888;
}