.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 120px;
  @media (max-width: $desktop-breakpoint) {
    height: 70px;
 }
  .navbar_brand {
    @media (max-width: $desktop-breakpoint) {
      order: 2;
   }
  }
  .account-dropdown{
    @media (max-width: $desktop-breakpoint) {
      order: 1;
    }
  }
  .cart-search{
    @media (max-width: $desktop-breakpoint) {
      order: 3;
  
    }
  }
}

.profile_image {
    width: $xxl-size;
    height: $xxl-size;

}
.profile_name{
  color: $off-white;
  font-size: $font-size-title;
  letter-spacing: $xxs-size;
  font-family: $fancy-font;
  @media (max-width: $desktop-breakpoint - 0.01rem ) {
    font-size: $font-size-xlarge;
  }
}
.navbar-collapse{
  background-color: #212529;
  text-align: center;
}
.navbar-collapse, .navbar-toggle {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}
.main {
   margin:auto;
  @media (max-width: $desktop-breakpoint - 0.01rem ) {
    display: none;
  }
}
.account, .search,.profile_image {
  @media (max-width: $desktop-breakpoint - 0.01rem ) {
    display: none;
  }
}
.link-nav {
  color: $grey;
  font-size: $m-size;
  letter-spacing: $xxs-size;
  text-decoration: none;
  @media (min-width: $desktop-breakpoint) {
    font-size: $mx-size;
    &:hover {
      text-decoration: none;
      color: $off-white;
      border-bottom: $off-white solid 0.5px;
    }
  }
  &:hover {
    text-decoration: none;
    color: $off-white;
    padding: $xs-size 0;
  }
}
.is-active {
  color: $off-white;
  padding: $xs-size 0;
  @media (min-width: $desktop-breakpoint) {
    border-bottom: $off-white solid 0.5px;
}
}

.fa {
  outline: none;
  color: white;
  border: none;
  font-size: $mx-size;
  background-color: none;
}
.fa-bars,.fa-search{
  font-size: $l-size;
  color: $dark-blue;
}
.fa-search:hover{
  color: white;
}
.cart-badge{
  padding: 3px;
  border: 1px solid orangered;
  color: orangered;
  border-radius: 100%;
}

//modal
.modal-dialog {
  text-align: center;
  position: absolute;
  min-width: 100%;
  @media (min-width: $desktop-breakpoint) {
    right: 0;
    top: 0;
    min-width: 30%;
}
}
.modal-header{
  background-color: black;
  color: $off-white;
  .modal-title{
    margin:auto;
    font-weight: 500;
    font-size: $font-size-medium;
    @media (max-width: $desktop-breakpoint) {
      font-size: $font-size-small;
  }
  }
}
.modal-content {
  @extend .modal-dialog;
}
.modal-body{
  max-height: 90vh;
  overflow-y: scroll;
}
.modal-body::-webkit-scrollbar {
  display: none;
}