@import  '../base/settings';

.page-header{
    background-color: $off-white;
    margin-bottom: $m-size;
    padding: $m-size 0;
    @media (min-width: $desktop-breakpoint){
        margin-bottom: $l-size;
        padding: $l-size 0;
    }
}
.page-header-title{
    margin: 40rem 0;
    font-size: $mx-size;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: $xxs-size;
    @media (min-width: $desktop-breakpoint){
        font-size: $l-size;
    }
    &:hover{
        text-decoration: none;
    }
}  